{{- if .Values.certManager.enabled }}
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: ca-issuer
  namespace: {{ .Values.certManager.namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  ca:
    secretName: ca-key-pair
{{- end }}