{{- if .Values.alloy.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: alloy
  namespace: {{ .Values.global.namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "3"
    argocd.argoproj.io/compare-options: "ServerSideDiff=true"
  labels:
    {{- include "tesk-standalone-stack.labels" . | nindent 4 }}
spec:
  project: {{ .Values.global.argoProject }}
  destination:
    namespace: {{ .Values.prometheus.namespace }}
    server: https://kubernetes.default.svc
  syncPolicy:
    managedNamespaceMetadata:
      labels:
        "admission.gatekeeper.sh/ignore": "pleaseignore"
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
    retry:
      refresh: true
  source:
    repoURL: {{ .Values.alloy.repoURL }}
    chart: {{ .Values.alloy.chart }}
    targetRevision: {{ .Values.alloy.chartVersion }}
    helm:
      valuesObject:
        serviceMonitor:
          enabled: true

        alloy:
          configMap:
            content: |
              logging {
                level  = "info"
                format = "logfmt"
              }

              discovery.kubernetes "pods" {
                role = "pod"
              }

              discovery.kubernetes "nodes" {
                role = "node"
              }

              discovery.kubernetes "services" {
                role = "service"
              }

              discovery.kubernetes "endpoints" {
                role = "endpoints"
              }

              discovery.kubernetes "endpointslices" {
                role = "endpointslice"
              }

              discovery.kubernetes "ingresses" {
                role = "ingress"
              }

              loki.source.kubernetes "pods" {
                targets    = discovery.kubernetes.pods.targets
                forward_to = [loki.write.local.receiver]
              }

              loki.write "local" {
                endpoint {
                  url = "http://loki-gateway:80"
                }
              }
        
                              

{{- end }}