{{- if .Values.prometheus.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: {{ .Values.global.namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "2"
    argocd.argoproj.io/compare-options: "ServerSideDiff=true"
  labels:
    {{- include "tesk-standalone-stack.labels" . | nindent 4 }}
spec:
  project: {{ .Values.global.argoProject }}
  destination:
    namespace: {{ .Values.prometheus.namespace }}
    server: https://kubernetes.default.svc
  syncPolicy:
    managedNamespaceMetadata:
      labels:
        "admission.gatekeeper.sh/ignore": "pleaseignore"
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
    retry:
      refresh: true
  source:
    repoURL: {{ .Values.prometheus.repoURL }}
    chart: {{ .Values.prometheus.chart }}
    targetRevision: {{ .Values.prometheus.chartVersion }}
    helm:
      valuesObject:
        crds:
          upgradeJob:
            enabled: true
            forceConflicts: true
            image:
              kubectl:
                tag: "{{ .Values.global.kubeVersion }}"

        prometheusOperator:
          admissionWebhooks:
            annotations:
              argocd.argoproj.io/hook: PreSync

        grafana:
          assertNoLeakedSecrets: false
          defaultDashboardsTimezone: Europe/Luxembourg
          admin:
            existingSecret: "grafana-admin"

          operator:
            dashboardsConfigMapRefEnabled: true

          ingress:
            enabled: {{ .Values.global.ingress.enabled }}
            ingressClassName: {{ .Values.global.ingress.className }}

            hosts:
            - grafana.{{ .Values.global.ingress.host }}
            paths:
            - /
            {{- if and (not .Values.global.dev) (not .Values.global.localDev) }}
            annotations:
              cert-manager.io/cluster-issuer: "{{ .Values.global.ingress.certClusterIssuer }}"
            tls:
            - hosts:
              - grafana.{{ .Values.global.ingress.host }}
              secretName: grafana-cert
            {{- end }}

          initChownData:
            enabled: false

          persistence:
            enabled: true

          useStatefulSet: true

          additionalDataSources:
            - name: loki
              type: loki
              access: proxy
              url: http://loki-gateway:80
              jsonData:
                timeout: 60
                maxLines: 1000


        prometheus:
          prometheusSpec:
            serviceMonitorSelectorNilUsesHelmValues: false
            podMonitorSelectorNilUsesHelmValues: false
            ruleSelectorNilUsesHelmValues: false
            scrapeConfigSelectorNilUsesHelmValues: false

            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: {{ .Values.global.storage.defaultClass }}
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: {{ .Values.prometheus.storageSize }}

            
          ingress:
            enabled: {{ .Values.global.ingress.enabled }}
            ingressClassName: {{ .Values.global.ingress.className }}
            hosts:
            - prometheus.{{ .Values.global.ingress.host }}
            paths:
            - /
            {{- if and (not .Values.global.dev) (not .Values.global.localDev) }}
            annotations:
              cert-manager.io/cluster-issuer: "{{ .Values.global.ingress.certClusterIssuer }}"
            tls:
            - hosts:
              - prometheus.{{ .Values.global.ingress.host }}
              secretName: prometheus-cert
            {{- end }}
                              

{{- end }}