{{- if .Values.rustfs.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rustfs
  namespace: {{ .Values.global.namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    {{- include "tesk-standalone-stack.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: {{ .Values.global.argoProject }}
  destination:
    namespace: {{ .Values.rustfs.namespace }}
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
  source:
    repoURL: {{ .Values.rustfs.repoURL }}
    chart: {{ .Values.rustfs.chart }}
    targetRevision: {{ .Values.rustfs.chartVersion }}
    helm:
      valuesObject:
        replicaCount: 1

        mode:
          standalone:
            enabled: true

          distributed:
            enabled: false

        secret:
          existingSecret: rustfs-secret

        storageclass:
          name: {{ .Values.global.storage.rwxClass }}
          dataStorageSize: {{ .Values.rustfs.storageSize }}
          logStorageSize: {{ .Values.rustfs.storageSize }}

        {{- if .Values.global.ingress.enabled }}
        ingress:
          enabled: true
          className: {{ .Values.global.ingress.className }}
          traefikAnnotations: {}
          hosts:
            - host: rustfs.{{ .Values.global.ingress.host }}
              paths:
                - path: /
                  pathType: Prefix

        {{- if not .Values.global.localDev }}
          customAnnotations:
            cert-manager.io/cluster-issuer: "{{ .Values.global.ingress.certClusterIssuer }}"
          tls:
            enabled: true
            secretName: "rustfs.{{ .Values.global.ingress.host }}-tls"

        {{- end }}
        {{- end }}

        affinity:
          podAntiAffinity:
            enabled: false

        gatewayApi:
          gatewayClass: "none"

{{- end }}