fullnameOverride: "tesk-stack"

global:
  # this makes the chart autogenerate all secrets
  dev: false
  # set this if you're doing local app development
  # if this isn't set to true you'll need cert-manager installed on your cluster and configured to sign certs
  localDev: false
  kubeVersion: ""
  argoProject: tesk-stack
  namespace: tesk-stack
  argoNamespace: argocd
  ingress:
    enabled: true
    # this is dns for 127.0.0.1, localhost, if delpoying on a vm change it to a DNS name that
    # resolves to the name of the vm
    host: "localtest.me"
    className: "nginx"
    # this assumes you have cert-manager installed and have configured a cluster issuer.
    certClusterIssuer: "ca-issuer"
  storage:
    defaultClass: "default"
    rwxClass: "default"



tesk:
  enabled: true
  repoURL: "harbor.ukserp.ac.uk/tesk/chart"
  chart: tesk
  chartVersion: "0.1.0"
  image: "harbor.ukserp.ac.uk/tesk/tesk-api:1.0.0"

  service:
    type: ClusterIP


networkPolicy:
  enabled: true
  # ip not dns name
  egressMinioIP: ""
  extraPolicy: []


falco:
  enabled: true
  namespace: falco
  repoURL: 'https://falcosecurity.github.io/charts'
  chart: falco
  chartVersion: "8.0.0"


prometheus:
  enabled: true
  namespace: "monitoring"
  repoURL: "ghcr.io/prometheus-community/charts"
  chart: "kube-prometheus-stack"
  chartVersion: "81.6.3"

  storageSize: "10Gi"
  grafana:
    adminPassword: ""

gatekeeper:
  enabled: true
  namespace: "gatekeeper-system"
  repoURL: "https://open-policy-agent.github.io/gatekeeper/charts"
  chart: "gatekeeper"
  chartVersion: "3.21.1"
  extraExempt:
    namespaces: []
    namespacePrefixes: []

certManager:
  enabled: true
  namespace: "cert-manager"
  repoURL: "quay.io/jetstack/charts"
  chart: "cert-manager"
  chartVersion: "v1.19.2"


trustManager:
  enabled: true
  # no namespace option, always installs into cert-manager namespace
  repoURL: "quay.io/jetstack/charts"
  chart: "trust-manager"
  chartVersion: "v0.20.3"


